@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 
 body {
    margin: 0;
    font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 .header {
   display:flex;
   background-color: #5BA26F;
   align-items: center;
   height: 72px;
   color:aliceblue;
   padding: 0 16px;
   font-weight: 900;
 }

 .content {
   display: flex;
   flex: 1;
 }

 .footer {
   padding: 12px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-top: 2px solid #E8E8E8;
 }

 .sidebar {
   background-color: #F4EEE2;
   padding: 16px;
   width: 240px;
   flex-shrink: 0;
   position: sticky;
   top: 0;
   height: 100vh;
   border-right: 1px solid #DFCFB1;
   border-radius: 4px;
 }

 .sidebar a.active {
   font-weight: bold;
 }

 .sidebar a:hover {
   text-decoration: underline;
   color: #4A8A5B;
 }

 a{
   text-decoration: none;
   color: #5BA26F;
   font-size: 24px;
 }

 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 li {
   margin-bottom: 16px;
 }

 .cards {
   display: flex;
   flex-wrap: wrap;
   padding: 48px;
   gap: 32px;
   align-items: flex-start;
 }

 .card {
   border: 2px solid grey;
   box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
   padding: 16px;
   width: 300px;
   border-radius: 4px;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
 }

 .card:hover{
  transform: translateY(-6px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.32);
 }